.photo:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1;
}

@media (max-width: 40rem) {
  .photo:nth-child(1) {
    grid-column: initial;
    grid-row: initial;
  }
}

.photo {
  display: grid;
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;
}

.photo > div {
  grid-area: 1/1;
}

.view {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1rem;
  text-align: center;

  align-items: center;
  justify-content: center;
  grid-area: 1/1;
  display: none;
}

.view::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-right: 0.5rem;
  background-image: url("../../Assets/visualizacao.svg");
}
.photo:hover .view {
  display: flex;
}
